<!-- prettier-ignore -->
{% extends 'z_layout.html' %}
{% load static %}
{% block title %} About {% endblock %}


{% block content %}
<br>
<br>
<br>


<center>

<div class="content">
  <h1>About Us</h1>
            <h5><p></p>Lets bring the joy and happiness to our Community Events.! 

Love our Neighbors in Barangay!</p></h5>
<h3> HORRAYYYYYYY </h3>
<br>
<div style="
width: 100px;
height: 100px;
background: url('/static/images/contact.png');
float: left;
"
></div>
{% endblock %}
