<!-- prettier-ignore -->
{% extends 'base_layout.html' %}
{% block center %} <h1>Admin Login</h1> {% endblock %}


<br>
<br>

{% block content %}
<div>
<form method="POST" action="update/{{ aregs.id }}">

<label for="aausername">Username:</label><br>  
<input type="text" id="aausername" name="aausername" value="{{ aregs.ausername }}" placeholder="Enter Username"><br><br>
<label for="aapassword">Password:</label><br>
<input type="text" id="aapassword" name="aapassword" value="{{ aregs.apassword }}" placeholder="Enter Password"><br><br>

  <input type="submit" id="aupdate" name="aupdate" style="font-size: 16px;" value="Update"><br>


{% csrf_token %}

</form> 
</div>

{% endblock %}

