{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Admin Booklist</title>
  <link rel="stylesheet" href="{% static "/admin/css/adminbooklist.css" %}">
<header>
    <h2><a href="/info"><i class="ion-plane"></i></a></h2>
    <nav>
      <ul>
        <li>
          <a href="/location" title="Add Location">| Add Location</a>
        </li>

        <li>
          <a href="/" title="Logout">| Logout</a>
        </li>

      </ul>
    </nav>
  </header>
<head>


<br>
<br>

<body style="background-image:url('https://images.unsplash.com/photo-1490093158370-1a6be674437b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1014&q=80');
background-attachment: fixed; background-repeat: no-repeat;background-size: 100% 100%">


<center>
<h4>BARANGAY EVENT SCHEDULE</h4>
</center>
<div>
<table id="kenTable" name='tr'>
    <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Address</th>
    <th>Age</th>
    <th>Contact Number</th>
    <th>Action</th>

    </tr>


       <tr>
         {% for rinfo in rinfos %}
         <! -- {{ forloop.counter }}:  -->

        <td>{{ rinfo.rlname}}</td>
        <td>{{ rinfo.rfname}}</td>
        <td>{{ rinfo.rmname}}</td>
        <td>{{ rinfo.raddress}}</td>
        <td>{{ rinfo.rage}}</td>
        <td>{{ rinfo.rcnumber}}</td>

        <td><b><a href="/{{rinfo.id}}/eventstatus">View Details</a></b></td>

          </tr>
        {% endfor %}
    </table>

</div>
</body>
</html>



