<!-- prettier-ignore -->
{% extends 'admin_layout.html' %}
{% load static %}
{% block header %}
    <nav>
      <ul>
        <li>
          <a href="/location" title="Add Location">| Add Location</a>
        </li>
      
      </ul>
    </nav>
{% endblock %}
{% block center %} 
<br>
<br>
<br>
<h4>BARANGAY EVENT SCHEDULE</h4> 
{% endblock %}

{% block content %}
<table id="kenTable" name='tr'>
    <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Address</th>
    <th>Age</th>
    <th>Contact Number</th>
    <th>Action</th>


    </tr>


       <tr>
         {% for rinfo in rinfos %}
         <! -- {{ forloop.counter }}:  -->

        <td>{{ rinfo.rlname}}</td>
        <td>{{ rinfo.rfname}}</td>
        <td>{{ rinfo.rmname}}</td>
        <td>{{ rinfo.raddress}}</td>
        <td>{{ rinfo.rage}}</td>
        <td>{{ rinfo.rcnumber}}</td>

        <td><b><a href="/{{rinfo.id}}/eventstatus">View Details</a></b><td>
       
        <td>  <b><a href="delete/{{rinfo.id}}">Delete</a></b></td>
      
    
          </tr>
        {% endfor %}

    </table>
{% endblock %}



