{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>BARANGAY EVENT SCHEDULE</title>
	<link rel="stylesheet" href="{% static "/css/r1.css" %}">
</head>
<header>{% block header %} <h2><a href="/info"><i class="ion-plane"></i></a></h2>
    <nav>
      <ul>

 	<li>
          <a href="/" title="Logout">Logout</a>
        </li>
       
      </ul>
    </nav> {% endblock %}</header>
<center> {% block center %}  {% endblock %} </center>
<body>
	<div class="wrapper">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>