<!-- prettier-ignore -->
{% extends 'ac_layout.html' %}
{% load static %}
 
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="container">

  {% block header %}
    <h2><a href="/Schedule"><i class="ion-plane"></i> BARANGAY EVENT SCHEDULE</a></h2>
    <nav>
      <ul>

        <li>
          <a href="/" title="Home">Home</a>
        </li>

        <li>
          <a href="/about" title="About">About</a>
        </li>
        
         
      </ul>
    </nav>
 {% endblock %}
{% block content %} 
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
 
<div>
  <h1>Contact Us</h1>
            <h5><p></p>We would like to hear from you. If you have any questions or comments, please contact us.
            </p></h5>
            <h2><p>Email us at | kennethdenaga1212@gmail.com</p></h2>
            <h3><p>Phone: +639054990958</p></h3>        
</div>
<br>
<a href="https://www.facebook.com/groups/796656674044285"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYoEuezYGqaRHk8RWHByluYc2bVbBd59LeSw&usqp=CAU" alt="Barangay link" style="width:50px;height:50px;"></a>
<br>
<br>
<br>
{% endblock %}

