{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static "/css/contact.css" %}">
<br>
<br>
<br>
<body>
<div class="container">

  <header>
    <h2><a href="/Schedule"><i class="ion-plane"></i> BARANGAY EVENT SCHEDULE</a></h2>
    <nav>
      <ul>

        <li>
          <a href="/" title="Home">Home</a>
        </li>

        <li>
          <a href="/about" title="About">About</a>
        </li>
        
         
      </ul>
    </nav>
  </header>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<div class="content">
  <h1>Contact Us</h1>
            <h5><p></p>We would like to hear from you. If you have any questions or comments, please contact us.
            </p></h5>
            <h2><p>Email us at | kennethdenaga1212@gmail.com</p></h2>
            <h3><p>Phone: +639054990958</p></h3>        
</div>
<br>
<a href="https://www.facebook.com/groups/796656674044285"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYoEuezYGqaRHk8RWHByluYc2bVbBd59LeSw&usqp=CAU" alt="Barangay link" style="width:50px;height:50px;"></a>
<br>
<br>
<br>

</body>
</html>

