{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update info of Resident</title>
    <link rel="stylesheet" href="{% static "/admin/css/updateinfo.css" %}">

</head>
<br>
<br>

<br>

<body>
<div class="container">

  <header>
    <h2><a href="/info"><i class="ion-plane"></i> BARANGAY EVENT SCHEDULE</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/about" title="About">About</a>
        </li>
        <li>
          <a href="/contact" title="Contact Us">Contact Us</a>
        </li>
         
      </ul>
    </nav>
  </header>

</div>
<br>

<center>

<h4>UPDATE YOUR INFORMATION</h4>
<form method="POST" action="update/{{ Rinfo.id }}">
  <label for="rrlname">Last Name:</label><br>
  <input type="text" id="vvname" name="vvname" value="{{ Rinfo.rlname }}" placeholder ="Enter your name"><br><br>
  <label for="rrage">Age</label><br>
  <input type="text" id="rrage" name="rrage" value="{{ Rinfo.rage }}" placeholder ="Enter your Age"><br><br>
  <label for="vvcnumber">Contact Number:</label><br>
  <input type="text" id="rrcnumber" name="rrcnumber" value="{{ Rinfo.rcnumber }}" placeholder ="Enter your Contact Number"><br><br>
  <label for="rraddress">Address:</label><br>
  <input type="text" id="rraddress" name="rraddress"value="{{ Rinfo.raddress }}" placeholder ="Enter your Email Address"><br><br>
  <label for="rruname">Username:</label><br>
  <input type="text" id="rruname" name="rruname" value="{{ Rinfo.runame }}"placeholder ="Enter your Username"><br><br>
  <label for="rrpass">Password:</label><br>
  <input type="text" id="rrpass" name="rrpass"value="{{ Rinfo.rpass }}" placeholder ="Enter your Password"><br><br>
  <button type="submit" style="font-size: 30px;">Update</button>
  <br>
  <br>
  <br>

<label for="vvname">Court Location:</label>
  <label for="bbdate">{{ Bevent.blocation }}</label><br>	

  <label for="bbdate">Date:</label>
  <label for="bbdate">{{ Bevent.bdate }}</label><br>

  <label for="bbpeople">Number of Attendies:</label>
  <label for="bbdate">{{ Bevent.bpeople }}</label><br>	
  
  <label for="bbrates">Rates:</label>
  <label for="bbdate">{{ Bevent.brates }}</label><br>
  

{% csrf_token %}
</form> 
</center>
<br>
<br>
<br>
<br>
</body>
</html>

