<!-- prettier-ignore -->
{% extends 'y_layout.html' %}
{% load static %}
{% block title %} Event Information {% endblock %}


{% block content %}
<center>

<h1>Event Information</h1>

</center>

<div>
<h3>NAME: {{ rinfo.rlname.upper }},{{ rinfo.rfname.upper }} {{ rinfo.rmname.upper }}. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h3>
</div>
<br>
<div>
<form method="POST" action="/{{rinfo.id}}/add_item">

   
    <select id="bblocation" name="bblocation">
        <option value="0">Select Location</option>
        <option value="Sta Maria">Sta Maria</option>
        <option value="Sta Lucia">Sta Lucia</option>
        <option value="San Nicolas">San Nicolas</option>
        <option value="San Mateo">San Mateo</option>
        <option value="San Lorenzo">San Lorenzo</option>
  
 
  <label for="bbmainevent">Event:</label><br>
  <input type="text" id="bbmainevent" name="bbmainevent" maxlength="40" placeholder ="Enter Event" required="required" />
  <label for="bbdate">Date</label><br>
  <input type="date" id="bbdate" name="bbdate" placeholder ="" required="required" />
  
  <label for="bbbstime">Start Time:</label><br>
  <input id="bbbstime" type="time" name="bbbstime"
             min="3:00" max="24:00" required>

  <label for="bbbetime">End Time:</label><br>
    <input id="bbbetime" type="time" name="bbbetime"
             min="3:00" max="24:00" required>
<br><br>
  <label for="bbpeople">Estimated Number of Attendies:</label><br>
  <input type="Number" id="bbpeople" name="bbpeople" maxlength="4" placeholder ="Number of Attendies" required="required" />
  
  <label for="bbhours">Number of Hours:</label><br>




<select name="bbhours" onchange="calculateAmount(this.value)" required>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
        <label><b>Rates</b></label>
        <input class="w3-input w3-border" name="bbrates" id="bbrates" type="text" readonly>
       





















  <input type="submit" id="bbook" name="bbook" style="font-size: 16px;" value="Reserve Now"><br>
  <input type="reset" style="font-size: 16px;" class="button" value="Clear">
{% csrf_token %}


</div>
</form>



 <script>
            function calculateAmount(val) {
                var tot_price = val * 100;
                /*display the result*/
                var divobj = document.getElementById('bbrates');
                divobj.value = tot_price;
            }
  

</script>

<table id="kenTable" name='tr'>
    <tr>
    <th>Location</th>
    <th>Event</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>People</th>
    <th>Hours</th>
    <th>Rates</th>
    <th>Action</th>
    </tr>

       <tr>
        
        {% for bevent in rinfo.bevent_set.all %}
         <! -- {{ forloop.counter }}:  -->

        <td>{{ bevent.blocation}}</td>
        <td>{{ bevent.bmainevent}}</td>
        <td>{{ bevent.bdate}}</td>
        <td>{{ bevent.bbstime}}</td>
        <td>{{ bevent.bbetime}}</td>
        <td>{{ bevent.bpeople}}</td>
      	<td>{{ bevent.bhours}}</td>
        <td>{{ bevent.brates}}</td>
        <td><a href="/{{rinfo.id}}/next/eventview">Status</a></td>


          </tr>
        {% endfor %}
    </table>
</tr>

</body>
<style>
input[type=text4], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Copperplate, serif;
  font-size: 20px;
}
</style>
{% endblock %}


