{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Event Information</title>
<link rel="stylesheet" href="{% static "/css/eventinfo.css" %}">
<br>
<br>
<br>
<header>
    <h2><a href="/Schedule"><i class="ion-plane"></i> BARANGAY EVENT SCHEDULE</a></h2>
    <nav>
      <ul>

 	      <li>
          <a href="/" title="Logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>
<body>
<center>

<h1>Event Information</h1>

</center>

<div>
<h3>NAME: {{ rinfo.rlname.upper }},{{ rinfo.rfname.upper }} {{ rinfo.rmname.upper }}. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</h3>
</div>
<br>
<div>
<form method="POST" action="/{{rinfo.id}}/add_item">

  <label for="bblocation">Court Location:</label><br>
 <select id="bblocation" name="bblocation">
            <option value="0">Available Court here!</option> 
      <option value="{{ location.bblocation }}">{{ location.bblocation }}</option>
    
      </select>
  <!--<input type="text" id="bblocation" name="bblocation" placeholder ="Enter Court Location">-->
  <label for="bbmainevent">Event:</label><br>
  <input type="text" id="bbmainevent" name="bbmainevent" maxlength="40" placeholder ="Enter Event" required="required" />
  <label for="bbdate">Date</label><br>
  <input type="date" id="bbdate" name="bbdate" placeholder ="" required="required" />
  
  <label for="bbbstime">Start Time:</label><br>
  <input id="bbbstime" type="time" name="bbbstime"
             min="3:00" max="24:00" required>

  <label for="bbbetime">End Time:</label><br>
    <input id="bbbetime" type="time" name="bbbetime"
             min="3:00" max="24:00" required>
<br><br>
  <label for="bbpeople">Estimated Number of Attendies:</label><br>
  <input type="Number" id="bbpeople" name="bbpeople" maxlength="4" placeholder ="Number of Attendies" required="required" />
  <label for="bbhours">Number of Hours:</label><br>
  <input type="Number" id="bbhours" name="bbhours" maxlength="2" placeholder="Number of Hours" required="required" />
 
  <!--<input type="hidden" id="bbstat" name="bbstat" placeholder="Amount"  ><br><br>-->
  <label for r="bbrates">Rates:</label><br>
  <input type="text2" id="bbrates" name="bbrates" placeholder="Amount" readonly ><br><br>

  <input type="submit" id="bbook" name="bbook" style="font-size: 16px;" value="Reserve Now"><br>
  <input type="reset" style="font-size: 16px;" class="button" value="Clear">
{% csrf_token %}


</div>
</form>
	<script>
function cclass()
{
	var d=document.getElementById("bbpeople");
	var displaytext=d.options[d.selectedIndex].value;
	document.getElementById("bbrates").value=displaytext;
}




</script>
<table id="kenTable" name='tr'>
    <tr>
    <th>Location</th>
    <th>Event</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>People</th>
    <th>Hours</th>
    <th>Rates</th>
    <th>Action</th>
    </tr>

       <tr>
        
        {% for bevent in rinfo.bevent_set.all %}
         <! -- {{ forloop.counter }}:  -->

        <td>{{ bevent.blocation}}</td>
        <td>{{ bevent.bmainevent}}</td>
        <td>{{ bevent.bdate}}</td>
        <td>{{ bevent.bbstime}}</td>
        <td>{{ bevent.bbetime}}</td>
        <td>{{ bevent.bpeople}}</td>
      	<td>{{ bevent.bhours}}</td>
        <td>{{ bevent.brates}}</td>
        <td><a href="/{{rinfo.id}}/next/eventview">Status</a></td>


          </tr>
        {% endfor %}
    </table>
</tr>

</body>
</html>


