{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>eventstatus</title>
    <link rel="stylesheet" href="{% static "/admin/css/eventstatus.css" %}">
<header>
    <h2><a href="/info"><i class="ion-plane"></i></a></h2>
    <nav>
      <ul>
        <li>
          <a href="/adminbook" title="Logout">| Back</a>
        </li>

        <li>
          <a href="/" title="Logout">Logout</a>
        </li>

      </ul>
    </nav>
  </header>
<head>

<body>
<!--<body style="background-image:url('https://images.unsplash.com/photo-1490093158370-1a6be674437b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1014&q=80');
background-attachment: fixed; background-repeat: no-repeat;background-size: 100% 100%"> -->

<center>

<h1>BARANGAY EVENT SCHEDULE</h1>
</center>
<div>
  <h3>NAME: {{ rinfo.rlname.upper }},  {{ rinfo.rfname.upper }} {{ rinfo.rmname.upper }} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; </h3>
<form method="POST" action="/{{rinfo.id}}/eventstatus/statusupdate">



<table id="kenTable" name='tr'>
    <tr>
    <th>Location</th>
    <th>Event</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>People</th>
    <th>Hours</th>
    <th>Rates</th>
    <th>Status</th>

    </tr>

       <tr>
             {% for bevent in rinfo.bevent_set.all %}
               <! -- {{ forloop.counter }}:  -->

 
        <td>{{ bevent.blocation }}</td>
        <td>{{ bevent.bmainevent}}</td>
        <td>{{ bevent.bdate}}</td>
        <td>{{ bevent.bbstime}}</td>
        <td>{{ bevent.bbetime}}</td>
        <td>{{ bevent.bpeople}}</td>
        <td>{{ bevent.bhours}}</td>
        <td>{{ bevent.brates}}</td>
        <td> <input type="text" name="bbstatus" id="bbstatus" value="{{ bevent.bstat }}"></td>

      
      


          </tr>
        {% endfor %}
    </table>
</tr>
  <input type="submit" id="bsumbit" name="bsubmit" style="font-size: 16px;" value="Submit"><br>
{% csrf_token %}


</div>
</form>
</body>
</html>


