<!-- prettier-ignore -->
{% extends 'y_layout.html' %}
{% load static %}
{% block title %} Event View {% endblock %}


{% block content %}
<center>
<h1>BARANGAY EVENT SCHEDULE</h1>
</center>
<div>
    <h3>NAME: {{ rinfo.rlname.upper }},  {{ rinfo.rfname.upper }} {{ rinfo.rmname.upper }} &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; </h3>

<form method="POST" action="/{{rinfo.id}}/next">



<table id="kenTable" name='tr'>
    <tr>
    <th>Location</th>
    <th>Event</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>People</th>
    <th>Hours</th>
    <th>Rates</th>
    <th>Status</th>
    </tr>

       <tr>
        {% for bevent in rinfo.bevent_set.all %}
         <! -- {{ forloop.counter }}:  -->
        
        <td>{{ bevent.blocation }}</td>
        <td>{{ bevent.bmainevent}}</td>
        <td>{{ bevent.bdate}}</td>
        <td>{{ bevent.bbstime}}</td>
        <td>{{ bevent.bbetime}}</td>
        <td>{{ bevent.bpeople}}</td>
        <td>{{ bevent.bhours}}</td>
        <td>{{ bevent.brates}}</td>
        <td>{{ bevent.bstat}}</td>


          </tr>
        {% endfor %}
    </table>
</tr>



{% csrf_token %}
</div>
</form>

{% endblock %}


