{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>BARANGAY EVENT SCHEDULE</title>
  <link rel="stylesheet" href="{% static "/css/homepage.css" %}">
<header>
  
    <h1><a href="/info"><i class="ion-plane"></i> </a></h1>
    <nav>
      <ul>


        <li>
          <a href="/login/" title="Login">| Login</a>
        </li>
        

        <li>
          <a href="/Schedule" title="Location">| Schedule</a>
        </li>
           <li>
          <a href="/adminbook" title="Location"></a>
        </li>

      </ul>
    </nav>
  </header>
<head>
  <body style="background-image:url('https://images.unsplash.com/photo-1481277542470-605612bd2d61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1106&q=80');
background-attachment: fixed; background-repeat: no-repeat;background-size: 100% 100%">
<center>
  <br>
    <br>
<h4>BARANGAY EVENT SCHEDULE</h4>
  <br>
    <br>
</center>
<div>
<form method="POST" action="/home_log">

  <label for="rruname">Username:</label><br>
  <input type="text" id="rruname" name="rruname" placeholder ="Enter your Username"><br><br>
  <label for="rrpass">Password:</label><br>
  <input type="password" id="rrpass" name="rrpass" placeholder ="Enter your Password"><br><br>


  <input type="submit" id="rrlogin" name="rrlogin"style="font-size: 16px;" value="Login">
 <center>
  <p>Don't have an account?<br>
  <a href=/register>SIGN UP NOW</a>  </p>
 </center>
<br>
{% csrf_token %}
</form>
</body>
</html>


