<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Barangay Event Schedule</title>
	</head>
	<body>
		<form method="POST">
		{% csrf_token %}
		<h1>Resident Form</h1>
		<label>Name:</label><input type="text" id="resName" size="30" name="resName" placeholder="Enter your name here.">
		<label>FName:</label><input type="text" id="FresName" size="30" name="FresName" placeholder="Enter your Fname here.">
		<label>LName:</label><input type="text" id="LresName" size="30" name="LresName" placeholder="Enter your Lname here.">
		<label>MName:</label><input type="text" id="MresName" size="30" name="MresName" placeholder="Enter your Mname here.">
		<input id="btn"type="submit" name="btn" value="Submit"/>
		</form>
		<table id="resTable">
		
			<!--<tr>
				<th>Name<th/>
				<th>Name2<th/>
				<th>Name3<th/>
			<tr/>  -->
			
			
			<tr>
				<td>1. {{NameNew}}<td/>
				<td>2. {{FNameNew}}<td/>
				<td>3. {{LNameNew}}<td/>
				<td>4. {{MNameNew}}<td/>
			</tr>
				
		</table>		
	</body>	
</html>