<!-- prettier-ignore -->
{% extends 'admin_layout.html' %}
{% load static %}
{% block header %}
    <nav>
      <ul>

        <li>
         <a href="/adminbook" title="Logout">| Back</a>
        </li>

        <li>
          
        </li>

      </ul>
    </nav>
  {% endblock %}
{% block center %} <h1>Register Location</h1> {% endblock %}
{% block content %}
<div>
<form method="POST" action="update/{{zlocation.id}}">

<label for="lllocation">Court Location:</label><br>  

 <input type="text" name="lllocation" value="{{ zlocation.llocation }}" required="required"/>
<label for="lladdress">Address:</label><br>  
 <input type="text" name="lladdress" value="{{ zlocation.laddress }}" required="required"/>


  <input type="submit" id="ladd" name="ladd" style="font-size: 16px;" value="Update"><br>

{% csrf_token %}

</div>
</form> 

{% endblock %}

