<!-- prettier-ignore -->
{% extends 'y_layout.html' %}
{% load static %}
{% block title %} Register {% endblock %}


{% block content %}

<center>
<h4>REGISTER YOUR INFORMATION</h4>
</center>
<div>
<form method="POST" action="/new">
   <label for="lastname">Lastname:</label><br>
  <input type="text" id="lastname" name="lastname" maxlength="30" placeholder ="Enter Your Last Name" required="required" /><br><br>
  <label for="firstname">Firstname:</label><br>
  <input type="text" id="firstname" name="firstname" maxlength="30" placeholder ="Enter Your First Name" required="required" /><br><br>
  <label for="middlename">Middlename:</label><br>
  <input type="text" id="middlename" name="middlename" maxlength="30" placeholder ="Enter Your Middle Name" required="required" /><br><br>
  <label for="rraddress ">Address:</label><br>
  <input type="text" id="rraddress" name="rraddress" maxlength="50"placeholder ="Enter Your Address" required="required" /><br><br>
  <label for="rrage">Age</label><br>
  <input type="Number" id="rrage" name="rrage" maxlength="2" placeholder ="Enter Your Age" required="required" /><br><br>
  <label for="rccnumber ">Contact Number:</label><br>
  <input type="Number" id="rccnumber" name="rccnumber" maxlength="11" minlength="11" placeholder ="Enter Your Contact Number" required="required" /><br><br>
  <label for="rruname">Username:</label><br>
  <input type="text" id="rruname" name="rruname" maxlength="30" minlength="6" placeholder ="Enter Your Username" required="required" /><br><br>
  <label for="rrpass">Password:</label><br>
  <input type="text" id="rrpass" name="rrpass" maxlength="15" minlength="6" placeholder ="Enter Your Password" required="required" /><br><br>
  
 <input type="submit" id="bAdd" name="bAdd"style="font-size: 16px;" value="Register">
 <input type="reset" style="font-size: 16px;" class="button" value="Clear">
{% csrf_token %}
</form></div>
{% endblock %}

