{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Update info of Resident</title>
    <link rel="stylesheet" href="{% static "/admin/css/updateinfo.css" %}">

</head>
<br>
<br>

<br>

<body>
<div class="container">

  <header>
    <h2><a href="/info"><i class="ion-plane"></i> BARANGAY EVENT SCHEDULE</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/about" title="About">About</a>
        </li>
        <li>
          <a href="/contact" title="Contact Us">Contact Us</a>
        </li>
         
      </ul>
    </nav>
  </header>

</div>
<br>

<center>

<h4>UPDATE YOUR INFORMATION</h4>
<form method="POST" action="update/{{ rinfo.id }}">
 <label for="lastname">Lastname:</label><br>
  <input type="text" id="lastname" name="lastname" value="{{ rinfo.rlname }}"><br><br>
  <label for="firstname">Firstname:</label><br>
  <input type="text" id="firstname" name="firstname" value="{{ rinfo.rfname }}"><br><br>
  <label for="middlename">Middlename:</label><br>
  <input type="text" id="middlename" name="middlename" value="{{ rinfo.rmname }}"><br><br>
  <label for="rraddress ">Address:</label><br>
  <input type="text" id="rraddress" name="rraddress" value="{{ rinfo.raddress }}"><br><br>
  <label for="rrage">Age</label><br>
  <input type="Number" id="rrage" name="rrage" value="{{ rinfo.rage }}"><br><br>
  <label for="rccnumber " value="{{ rinfo.llocation }}" ></label><br>
  <input type="Number" id="rccnumber" name="rccnumber" value="{{ rinfo.rcnumber }}"><br><br>

  <br>

    <input type="submit" id="ladd" name="ladd" style="font-size: 16px;" value="Update"><br>
{% csrf_token %}
</form> 
</center>
<br>
<br>
<br>
<br>
</body>
</html>

