{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %} </title>
	<link rel="stylesheet" href="/static/css/eventinfo.css"/>

</head>
<header>{% block header %} 
    <nav>
      <ul>
        <li>
            <a href="/" title="Logout">Logout</a>
        </li>      
      </ul>
    </nav> {% endblock %}</header>
    
<center> {% block center %}  {% endblock %} </center>
<body>
	<div class="wrapper">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>